*.pkg filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
Informatique/Snake/build/snake/snake.pkg filter=lfs diff=lfs merge=lfs -text
Informatique/Snake/snake.exe filter=lfs diff=lfs merge=lfs -text
